<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <title>Vente de jeux vidéos</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="../scripts/cookieManager.js"></script>

    <!--<link rel="stylesheet" type="text/css" href="../css/menu.css">-->
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="../css/jeux.css">
</head>

<body>
    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text" id='username'>Bonjour </li>
        </ul>
      </div>

      <script>
        document.getElementById('username').append(sessionStorage.getItem('username'));
        // Déconnexion
        function deconnect(){
            // clear username storage
            sessionStorage.clear();
            // delete authentication token
            eraseCookie('authentication');
            document.location.href="../index.html";
        }
        </script>

      <div class="top-bar-right">
        <ul class="menu">
          <li><input class="button expanded" type="button" value="Deconnexion" onclick="deconnect()"></li>
        </ul>
      </div>
    </div>

    <!-- End Top Bar --> 
    

    <hr>
    <div class="row">

        <!-- PANIER -->

        <div class="column medium-4 large-4 align-center">

        <h2>Panier</h2>

        

        <table border="1" id="cartTable">
            <tbody>
                <!-- Contenu ajouté en JS -->
            </tbody>
        </table>

        <p id="price">Prix total : </p>
        <input type="button" class="button expanded" value="Commander !" onclick="validateCart()"/>
        </div>


        <!-- LISTE JEUX -->

        <div class="column medium-7 large-7 align-center">

        <h2>Jeux disponibles</h2>

        <table border="1" id="gameTable">
        	<thead>
        		<tr><td></td><td>Titre</td><td>Prix (€)</td><td>Console</td><td>Quantité</td></tr>
        	</thead>
        	<tbody>
                <!-- Contenu ajouté en JS -->
        	</tbody>
        </table>

        </div>
    </div>


</hr>

    <script src="../scripts/listeJeux.js"></script>

</body>
</html>