<!DOCTYPE html>
<html>
<head>
    <title>Vente de jeux vidéos</title>

    <script src="../scripts/cookieManager.js"></script>

    <link rel="stylesheet" type="text/css" href="../css/menu.css">
</head>

<body>
    <h2 id="username">Bonjour </h2>    
    <script>
        document.getElementById('username').append(sessionStorage.getItem('username'));

        // Déconnexion
        function deconnect(){
            // clear username storage
            sessionStorage.clear();
            // delete authentication token
            eraseCookie('authentication');
            document.location.href="../index.html";
        }
    </script>


    <h1>Liste des jeux disponibles</h1>
    <input type="button" value="Deconnexion" onclick="deconnect()">


    <!-- PANIER -->

    <ul id="menu">
        <li>
            <a href="#">Panier</a>
            <ul>
                <li>
                    <table border="1" id="cartTable">
                        <tbody>
                            <!-- Contenu ajouté en JS -->
                        </tbody>
                    </table>
                </li>
            </ul>
        </li>        
    </ul>

    <!--  -->


    <table border="1" id="gameTable">
    	<thead>
    		<tr><td></td><td>Titre</td><td>Prix (€)</td><td>Console</td><td>Quantité</td></tr>
    	</thead>
    	<tbody>
            <!-- Contenu ajouté en JS -->
    	</tbody>
    </table>

    <script src="../scripts/listeJeux.js"></script>

</body>
</html>