<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <title>Vente de jeux vidéos</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="../scripts/cookieManager.js"></script>

    <!--<link rel="stylesheet" type="text/css" href="../css/menu.css">-->
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="../css/panier.css">
</head>

<body>
    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text" id='username'>Bonjour </li>
        </ul>
      </div>

      <script>
        document.getElementById('username').append(sessionStorage.getItem('username'));
        // Déconnexion
        function deconnect(){
            // clear username storage
            sessionStorage.clear();
            // delete authentication token
            eraseCookie('authentication');
            document.location.href="../index.html";
        }
        </script>

      <div class="top-bar-right">
        <ul class="menu">
          <li><input class="button expanded" type="button" value="Deconnexion" onclick="deconnect()"></li>
        </ul>
      </div>
    </div>

    <!-- End Top Bar --> 
    

    <hr>
    <div class="row column container-padded">

        <!-- PANIER -->
        <div class="column medium-5 large-5 align-center">

            <div class="checkout-summary">
                <div class="checkout-summary-title">
                  <h5>Votre panier</h5>
                  <h5 id="nbItems"></h5>
                </div>

                <div id="content">
                        <!-- Rempli en JS -->
                </div>

                <div class="checkout-summary-details">
                    <div class="left">
                        <p><strong>Prix total : </strong></p>
                    </div>
                    <div class="right">
                        <p id="price"></p>
                    </div>
                </div>
                <input type="button" class="button expanded" value="Commander !" onclick="validateCart()"/>
          </div>
        </div>
    


        <!-- LISTE JEUX -->

        <div class="column medium-6 large-6 align-center">

        <h2>Jeux disponibles</h2>

        <table border="1" id="gameTable">
        	<thead>
        		<tr><td></td><td>Titre</td><td>Prix(€)</td><td>Console  </td><td>Quantité</td></tr>
        	</thead>
        	<tbody>
                <!-- Contenu ajouté en JS -->
        	</tbody>
        </table>
        </div>
    </div>


</hr>

    <script src="../scripts/listeJeux.js"></script>

</body>
</html>