<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sr03_projet</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <property name="hibernate.show_sql">true</property>
        <!-- Pour créer la base de données, ensuite remplacer create par update -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
        <!-- mapping files -->
        <mapping class="beans.Jeu"/>
        <mapping class="beans.Utilisateur"/>
        <mapping class="beans.TypeConsole"/>
        <mapping class="beans.Commande"/>
        <mapping class="beans.LigneCommande"/>
    </session-factory>
</hibernate-configuration>